/* below 1400 */
@media only screen and (max-width:1400px){
    body{
        font-size: 84%;
    }
    .amazingBox{
        height: 110%;
    }
    #amzDetail{
        font-size:1rem;
        margin-top: 2rem;
    }
    .fourth{
        position: relative;
        top:10rem;
    }

    footer{
        position: relative;
        top:10rem;
    }
}