<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../styles/gallery.css">
    <link rel="stylesheet" href="../index.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="wrapper-prevent-ox">
        <nav>

            <ul id="nav_ul">
                <img src="https://moderndps89.com/web/assets/images/logo-145x183.png" id="navLogo" alt="">
                <a class="link" href="/">
                    <li class="li_nav">Home</li>
                </a>
                <a class="link" href="contact.html">
                    <li class="li_nav">Contact</li>
                </a>
                <a class="link" href="gallery.html">
                    <li class="li_nav">Gallery</li>
                </a>
                <a href="admissions.html">
                    <button id="adm">Admissions</button>
                </a>
            </ul>
        </nav>

        <div class="gallery">
            <h1 class="galleryHeader">School Infrastructure</h1>
            <div class="galleryCnt">
                <img src="https://moderndps89.com/web/assets/images/dsc-7009-2000x1325-800x530.jpg" alt="">
                <img src="https://moderndps89.com/web/assets/images/img-134-2000x1333-800x533.jpg" alt="">
                <img src="https://moderndps89.com/web/assets/images/img-139-2000x1333-800x533.jpg" alt="">
            </div>

            <h1 class="galleryHeader">Library</h1>
            <div class="galleryCnt">
                <img src="https://moderndps89.com/web/assets/images/img-514-2000x1333-800x533.jpg" alt="">
                <img src="https://moderndps89.com/web/assets/images/img-516-2000x1333-800x533.jpg" alt="">
                <img src="https://moderndps89.com/web/assets/images/img-8810-2000x1333-800x533.jpg" alt="">
            </div>
            <h1 class="galleryHeader">Events</h1>
            <div class="galleryCnt">
                <img src="https://moderndps89.com/web/assets/images/dsc-1515-2000x1325-800x530.jpg" alt="">
                <img src="https://moderndps89.com/web/assets/images/dsc-1946-2000x1325-800x530.jpg" alt="">
                <img src="https://moderndps89.com/web/assets/images/dsc-7194-2000x1325-800x530.jpg" alt="">
            </div>
            <h1 class="galleryHeader">Lab</h1>
            <div class="galleryCnt">
                <img src="https://moderndps89.com/web/assets/images/dsc-9501-2000x1325-800x530.jpg" alt="">
                <img src="https://moderndps89.com/web/assets/images/dsc-9516-2000x3020-800x1208.jpg" alt="">
                <img src="https://moderndps89.com/web/assets/images/picture17-1701x1014-800x477.jpg" alt="">
            </div>
        </div>
        <footer>
            Copyright &copy; All rights reserved.
        </footer>
    </div>

</body>

</html>