<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../index.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="wrapper-prevent-ox">
        <nav>

            <ul id="nav_ul">
                <img src="https://moderndps89.com/web/assets/images/logo-145x183.png" id="navLogo" alt="">
                <li class="li_nav">Home</li>
                <a class="link" href="templates/contact.html">
                    <li class="li_nav">Contact</li>
                </a>
                <a class="link" href="templates/gallery.html">
                    <li class="li_nav">Gallery</li>
                </a>
                <button id="adm">Admissions</button>
            </ul>
        </nav>
    </div>
</body>

</html>